// Variables

$color-primario:#414D9B;
$color-secundario:#F1544A;
$color-terciario:#7D85BA;

$text-white:#F7F7F7;
$text-black:#666666;
$p-color:#444444;
$check-color:#FEB623;
$card-shadow:0px 55px 25px -35px rgba(119, 119, 119, 0.65);
$header-shadow:0px 0px 25px rgba(119, 119, 119, 0.35);
$nav-collapese-shadow: 0px 50px 50px -50px rgba(119, 119, 119, 0.35);

$bg-body:#FBFBFB;
$bg-card-1:#6670AF;
$bg-card-2:#414D9B;

$padding-button:0.75rem 1.3rem;
$padding-lr:1.75rem;

// Cierre Variables




// Presets
hr{
	margin-top: 26.5px;
	margin-bottom: 26.5px;
	margin-left: $padding-lr;
	margin-right: $padding-lr;
	background: #cccccc;
	height: 2px !important;
}
body{
	word-wrap: break-word;
	background: $bg-body;
	font-family: poppins;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	padding-left: $padding-lr;
	padding-right: $padding-lr;
}
nav.navbar.navbar-expand-lg{
	box-shadow:$nav-collapese-shadow;
}
.navbar-collapse {
	align-items: unset;
	justify-content: flex-end;
}
.navbar-toggler-icon{
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-link {
	display: unset;
	padding: unset;
	color: unset;
	text-decoration: unset;
	transition: unset;
}
span.navbar-toggler-icon{
	font-size: 24px;
}
p{
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color:$p-color;
	margin-bottom: 1.5rem;
}
h1{
	color:$color-primario;
	font-weight: 700;
	margin-top: 4.5rem;
	margin-bottom: 0.5rem;
	font-size: 46px;
	span{
		font-weight: 400;
		display: block;
	}
}
h2{
	color: $color-primario;
	font-weight:700;
	font-size: 46px;
	margin-bottom: 2.5rem;
	span{
		font-weight: 400;
	}
}

.cta-button{
	background: $color-secundario;
	color: $text-white;
	padding: $padding-button;
	border-radius: 40px;
	border: none;
	font-weight: 600;
	border: 2px solid $color-secundario;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
	&:hover{
		border: 2px solid $color-secundario;
		color: $color-secundario;
		background: transparent;
	}
	a{
		color: unset;
		text-decoration: none;
	}
	@media screen and (max-width: 1199px) {
		display: block;
		margin:auto;
	}
}

.ghost-button{
	border:2px solid $color-secundario;
	padding: $padding-button;
	background: transparent;
	color: $text-white;
	font-weight: 600;
	border-radius:40px;
	transition: all 0.2s ease-in-out;
	&:hover{
		background: $color-secundario;
	}
}

// Cierre Presets





// Indez Styles

.section-1{
	position: relative;
	.info-contact{
		span{
			width: 20px;
			display: inline-block;
		}
	}
	.phone-contact{
		margin-bottom: 0.5rem;
	}
	.header-fixed{
		z-index: -1;
		background: $bg-body;
		position: fixed;
		top: 0px;
		box-shadow: $header-shadow;
		opacity: 0;
		.nav-header-fixed{
			nav{
				display: flex;
				justify-content: space-between;
				padding-bottom: 0.65rem;
				img{
					padding-left: $padding-lr;
				}
				li{
					list-style-type: none;
					margin-right: 2.5rem;
					margin-top: 1.5rem;
					padding-bottom: 0.85rem;
					text-align: center;
					position: relative;
					a{
						text-decoration: none;
						color: $text-black;
						font-weight: 600;
						&:hover{
							&::after{
								position: absolute;
								left: 0;
								right: 0;
								content:"";
								width: 50%;
								display: block;
								margin: auto;
								height: 2px;
								border-radius:40px;
								background: $color-secundario;
								margin-top: 0.5rem;
							}
						}
					}
					a.active::after{
						position: absolute;
						left: 0;
						right: 0;
						content:"";
						width: 50%;
						display: block;
						margin: auto;
						height: 2px;
						border-radius:40px;
						background: $color-secundario;
						margin-top: 0.5rem;
					}
				}
				li:nth-last-child(1){
					a{
						color: $text-white;
					}
					a.active{
						&::after{
							content:"";
							width: 0px;
						}
					}
					a:hover{
						color: $color-secundario;
						&::after{
							content:"";
							display: none;
						}
					}
				}
			}
		}
	}
	.nav-hero-section-movil{
		box-shadow: 0px 50px 50px -50px rgba(119, 119, 119, 0.35);
		display: flex;
		justify-content: space-between;
		img{
			padding-left: $padding-lr;
		}
		li{
			list-style-type: none;
			margin-right: 2.5rem;
			margin-top: 1.5rem;
			padding-bottom: 0.85rem;
			text-align: center;
			a{
				text-decoration: none;
				color: $text-black;
				font-weight: 600;
				&:hover{
					&::after{
						content:"";
						width: 50%;
						display: block;
						margin: auto;
						height: 2px;
						border-radius:40px;
						background: $color-secundario;
						margin-top: 0.5rem;
					}
				}
			}
			a.active::after{
				content:"";
				width: 50%;
				display: block;
				margin: auto;
				height: 2px;
				border-radius:40px;
				background: $color-secundario;
				margin-top: 0.5rem;
			}
		}
		li:nth-last-child(1){
			a{
				color: $text-white;
			}
			a:hover{
				color: $color-secundario;
				&::after{
					content:"";
					display: none;
				}
			}
		}
	}
	overflow-x: clip;
	.logotipo{
		img{
			padding: 1.25rem 1.75rem;
		}
	}
	.article-ilustration{
		background: url('../../assets/img/bg-section-1.png');
		background-repeat: no-repeat;
		background-position: top right;
		background-size: contain;
		header{
			nav{
				display: flex;
				justify-content: flex-end;
				li{
					list-style-type: none;
					margin-right: 2.5rem;
					margin-top: 2rem;
					a{
						text-decoration: none;
						color: $text-white;
						font-weight: 600;
						&:hover{
							&::after{
								content:"";
								width: 50%;
								display: block;
								margin: auto;
								height: 2px;
								border-radius:40px;
								background: $color-secundario;
								margin-top: 0.5rem;
							}
						}
					}
					a.active::after{
						content:"";
						width: 50%;
						display: block;
						margin: auto;
						height: 2px;
						border-radius:40px;
						background: $color-secundario;
						margin-top: 0.5rem;
					}
				}
				li:nth-last-child(1){
					a:hover{
						&::after{
							content:"";
							display: none;
						}
					}
				}
			}
		}
		.ilustration-1{
			img{
				margin-right: 3rem;
				float: right;
				margin-top: 6rem;
			}
		}
	}
	.opacity-1{
		transition:visibility 0.3s linear,opacity 0.3s linear;
		opacity: 1;
		z-index: 1;
	}
}

.section-2{
	margin-bottom: 166px;
	h2{
		margin-bottom: 7.5rem;
	}
	.container-padding{
		padding-left: $padding-lr;
		padding-right: $padding-lr;
	}
	.card-1{
		box-shadow: $card-shadow;
		padding-left: $padding-lr;
		padding-right: $padding-lr;
		height: 290px;
		text-align: center;
		background: $bg-card-1;
		border-radius:16px;
		transition: all 0.2s ease-in-out;
		img{
			margin-top: calc(-275px / 4);
			margin-bottom: 1.5rem;
		}
		h3{
			margin-bottom: 1.25rem;
			font-weight: 700;
			font-size: 28px;
		}
		p{
			font-weight: 500;
		}
		h3,p{
			color:$text-white;
		}
	}
	.card-1:hover{
		background: $color-primario;
		transform: translateY(-1rem);
		box-shadow:0px 25px 25px rgba(119, 119, 119, 0.60);
	}
}

.section-3{
	h2{
		margin-top: 7rem;
	}
	.burbuja-azul-izquierda{
		background: url('../../assets/img/burbuja-azul-izquierda.png');
		background-repeat: no-repeat;
		background-size: contain;
		height: 865px;
		img{
			margin-top: -3rem;
		}
	}
}

.section-4{
	overflow-x: clip;
	margin-top: -4rem;
	margin-bottom: 166px;
	h2{
		color: $text-white;
		padding-top: 6.4rem;
	}
	.content-section-4{
		.content-card:nth-child(1){
			img{
				bottom: 52px;
				left: -65px;
			}
		}
		.content-card:nth-child(2){
			img{
				top: 52px;
				right: -65px;
			}
		}
		.content-card{
			z-index: 0;
			position: relative;
			img{
				position: absolute;
				z-index: -1;
			}
			.card-2{
				background: $bg-card-2;
				border-radius: 16px;
				box-shadow: $card-shadow;
				max-width: 485px;
				h3{
					font-weight: 400;
					font-size: 32px;
					color: $text-white;
					padding-top: $padding-lr;
					padding-bottom: $padding-lr;
					border-bottom:2px solid #6670AF;
				}
				.precios{
					margin-top: 4rem;
					p:nth-child(1){
						font-weight: 700;
						font-size: 96px;
						color: $text-white;
						span{
							font-weight: 500;
							font-size: 52px;
						}
					}
					p:nth-child(2){
						margin-top: 2.5rem;
						margin-bottom: 2.5rem;
						color: $text-white;
						font-size: 38px;
						font-weight: 400;
						display: flex;
						justify-content: center;
						align-items: center;
						span{
							margin: 0rem 1rem 0rem 1rem;
							display: inline-block;
							height: 2px;
							width: 40px;
							background: $text-white;
						}
					}
				}
				p:nth-child(3){
					color: $text-white;
					font-weight: 500;
					font-size: 54px;
				}
			}
		}
		.lista-card-2{
			width: max-content;
			margin: auto;
			margin-top: 3.5rem;
			padding-bottom: $padding-lr;
			color: $text-white;
			li{
				text-align: left;
				list-style-type: none;
				font-weight: 400;
				font-size: 18px;
				margin-bottom: 0.5rem;
				span{
					margin-right: 1rem;
					color: $check-color;
				}
			}
		}
	}
}

.section-5{
	overflow-x: clip;
	form{
		.c-form{
			input{
				background: transparent;
				border-radius: 40px;
				margin-bottom: 1.5rem;
				display: block;
				width: 100%;
				padding: 0.75rem;
				padding-left: 1.5rem;
				border:1px solid #666666;
			}
			input:focus-visible{
				outline: -webkit-focus-ring-color auto 0px;
			}
		}
		textarea{
			background: transparent;
			border-radius: 2rem;
			height: 145px;
			margin-bottom: 1.5rem;
			display: block;
			width: 100%;
			padding: 1rem;
			padding-left: 1.5rem;
			border:1px solid #666666;
		}
		textarea:focus-visible{
			outline: -webkit-focus-ring-color auto 0px;
		}
		.c-button{
			input.btnEnviar{
				width: auto;
			}
		}
	}
	.burbuja-azul-derecha{
		background: url('../../assets/img/burbuja-azul-derecha.png');
		background-repeat: no-repeat;
		background-size: contain;
		height: 865px;
		background-position: right;
		img{
			margin-top: -4rem;
			float: right;
		}
	}
	.col-12.col-xl-5{
		padding-left: $padding-lr;
	}
}

footer{
	margin-top: -4rem;
	position: relative;
	.content-footer-1,
	.content-footer-2,
	.content-footer-3{
		position: absolute;
	}
	.content-footer-1{
		top: 0;
		left: 0;
		right: 0;
		margin-top: 4rem;
		p{
			font-weight: 500;
			font-size: 18px;
			color: $text-white;
		}
	}
	.content-footer-2{
		.col-4{
			padding-left: 1rem;
			padding-right: 1rem;
		}
		top: 50%;
		transform:translateY(-50%);
		left: 0;
		right: 0;
		width: max-content;
		margin: auto;
		span{
			background: #414D9B;
			color: #F7F7F7;
			width: 5.5rem;
			height: 5.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
			font-size: 48px;
			transition: all 0.2s ease-in-out;
		}
		span:hover{
			background: transparent;
			border: 6px solid #414D9B;
		}
	}
	.content-footer-3{
		bottom: 0;
		left: 0;
		right: 0;
		padding-bottom: 2rem;
		padding-top: 2rem;
		border-top: 1px solid #cccccc;
		margin-left: $padding-lr;
		margin-right: $padding-lr;
		p{
			margin:0;
			font-weight: 600;
			font-size: 20px;
			color: $text-white;
		}
	}
}





// Gracias por contactarnos Styles

header.bg_contacto{
	background: url('../../assets/img/bg_header_contacto.svg');
	background-position: top center;
	padding-bottom: 10rem;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	h1{
		color:$text-white;
		span{
			display: inline;
		}
	}
	p{
		color:$text-white;
	}
}
section.info_contacto{
	.rrss-icons{
		margin-top: 37px;
		display: flex;
		justify-content: center;
		span{
			background: #7D85BA;
			color: #F7F7F7;
			width: 7rem;
			height: 7rem;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
			font-size: 60px;
			transition: all 0.2s ease-in-out;
			margin-right: 3rem;
		}
		span:nth-child(3){
			margin-right: 0;
		}
		span:hover{
			background: $color-primario;
		}
	}
}
section.back_to_home{
	margin-bottom: 53px;
}





// Responsive Design

@media screen and (max-width: 1200px) {
	h1{
		font-size: 32px;
		margin-top: 2rem;
	}
	.container{
		padding: auto;
	}
	.container-padding{
		padding: auto;
	}
	.section-1{
		margin-bottom: 4.5rem;
		.article-ilustration{
			nav{
				flex-direction: column;
				li{
					text-align: center;
				}
			}
		}
	}

	.section-2 {
		margin-bottom: 0px;
		h2{
			font-size: 28px;
			margin-bottom: 7rem;
		}
		.card-1 {
			margin-bottom: 7rem;
			h3{
				font-size: 26px;
			}
		}
	}

	.section-3{
		margin-bottom: 4.5rem;
		h2{
			font-size: 28px;
			margin-top: 0rem;
		}
	}

	.section-4{
		background: url('../../assets/img/bg-nuestros-precios.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
		margin-bottom: 4.5rem;
		h2{
			font-size: 28px;
		}
		.content-section-4{
			.card-2{
				margin-bottom: 2rem;
				h3{
					font-size: 24px;
				}
				.precios{
					margin-top: 5rem;
					p:nth-child(1){
						font-size: 80px;
						span{
							font-size: 32px;
						}
					}
					p:nth-child(2){
						margin-top: 2.5rem;
						margin-bottom: 3rem;
						color: $text-white;
						font-size: 38px;
						span{
							margin: 0rem 1rem 0rem 1rem;
							display: inline-block;
							height: 2px;
							width: 45px;
							background: $text-white;
						}
					}
					p:nth-child(3){
						font-size: 52px;
					}
				}
			}
			.lista-card-2{
				width: auto;
				margin: auto;
				margin-top: 3.5rem;
				padding-bottom: $padding-lr;
				color: $text-white;
				padding-left:$padding-lr;
				padding-right: $padding-lr;
				li{
					text-align: left;
					list-style-type: none;
					font-weight: 600;
					font-size: 18px;
					margin-bottom: 0.5rem;
					span{
						margin-right: 1rem;
						color: $check-color;
					}
				}
			}
		}
	}

	.section-5{
		.col-12.col-xl-5{
			padding-left: calc(var(--bs-gutter-x) * .5);
		}
		margin-bottom: 9rem;
		h2{
			font-size: 28px;
		}
		.col-12.col-md-8.col-xl-5{
			margin: auto;
		}
	}

	footer{
		.bg-footer{
			img{
				display: none;	
			}
		}
		background: url(../../assets/img/footer-bg.png);
		background-size: cover;
		height: 300px;
		.content-footer-2{
			span{
				width: 3.5rem;
				height: 3.5rem;
				font-size: 30px;
			}
		}
	}
	.section-1 .header-fixed .nav-header-fixed nav li:nth-last-child(1) a{
		max-width: 170px;
	}
	.section-1 .header-fixed .nav-header-fixed nav li,
	.section-1 .nav-hero-section-movil li{
		width: max-content;
		margin-left:auto;
		margin-right: auto;
	}
}

@media screen and (min-width: 1401px) {
	h1{
		font-size: 58px;
		margin-bottom: 3rem;
	}
	h2{
		font-size: 58px;
	}
	p{
		font-size: 20px;
		line-height:32px;
		margin-bottom: 1.5rem;
	}
	.section-4{
		margin-bottom: 249px;
	}
	footer{
		.content-footer-1{
			margin-top: 6rem;
		}
	}
	header.bg_contacto{
		padding-bottom: 14rem;
	}
}

@media only screen and (max-width: 991px) and (min-width: 576px){

	.content-section-4{
		.lista-card-2{
			width: max-content !important;
		}
	}
}

@media screen and (min-width: 1201px) {
	.navbar{
		padding-top: 0;
		padding-bottom: 0;
	}
}

@media screen and (max-width: 576px) {
	.rrss-icons{
		flex-direction: column;
		align-items: center;
	}

	section.info_contacto .rrss-icons span{
		margin-right: 0;
		margin-bottom:1.5rem ;
	}
}