hr {
  margin-top: 26.5px;
  margin-bottom: 26.5px;
  margin-left: 1.75rem;
  margin-right: 1.75rem;
  background: #cccccc;
  height: 2px !important; }

body {
  word-wrap: break-word;
  background: #FBFBFB;
  font-family: poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  padding-left: 1.75rem;
  padding-right: 1.75rem; }

nav.navbar.navbar-expand-lg {
  box-shadow: 0px 50px 50px -50px rgba(119, 119, 119, 0.35); }

.navbar-collapse {
  align-items: unset;
  justify-content: flex-end; }

.navbar-toggler-icon {
  display: flex;
  align-items: center;
  justify-content: center; }

.nav-link {
  display: unset;
  padding: unset;
  color: unset;
  text-decoration: unset;
  transition: unset; }

span.navbar-toggler-icon {
  font-size: 24px; }

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
  margin-bottom: 1.5rem; }

h1 {
  color: #414D9B;
  font-weight: 700;
  margin-top: 4.5rem;
  margin-bottom: 0.5rem;
  font-size: 46px; }
  h1 span {
    font-weight: 400;
    display: block; }

h2 {
  color: #414D9B;
  font-weight: 700;
  font-size: 46px;
  margin-bottom: 2.5rem; }
  h2 span {
    font-weight: 400; }

.cta-button {
  background: #F1544A;
  color: #F7F7F7;
  padding: 0.75rem 1.3rem;
  border-radius: 40px;
  border: none;
  font-weight: 600;
  border: 2px solid #F1544A;
  transition: all 0.2s ease-in-out;
  text-decoration: none; }
  .cta-button:hover {
    border: 2px solid #F1544A;
    color: #F1544A;
    background: transparent; }
  .cta-button a {
    color: unset;
    text-decoration: none; }
  @media screen and (max-width: 1199px) {
    .cta-button {
      display: block;
      margin: auto; } }

.ghost-button {
  border: 2px solid #F1544A;
  padding: 0.75rem 1.3rem;
  background: transparent;
  color: #F7F7F7;
  font-weight: 600;
  border-radius: 40px;
  transition: all 0.2s ease-in-out; }
  .ghost-button:hover {
    background: #F1544A; }

.section-1 {
  position: relative;
  overflow-x: clip; }
  .section-1 .info-contact span {
    width: 20px;
    display: inline-block; }
  .section-1 .phone-contact {
    margin-bottom: 0.5rem; }
  .section-1 .header-fixed {
    z-index: -1;
    background: #FBFBFB;
    position: fixed;
    top: 0px;
    box-shadow: 0px 0px 25px rgba(119, 119, 119, 0.35);
    opacity: 0; }
    .section-1 .header-fixed .nav-header-fixed nav {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0.65rem; }
      .section-1 .header-fixed .nav-header-fixed nav img {
        padding-left: 1.75rem; }
      .section-1 .header-fixed .nav-header-fixed nav li {
        list-style-type: none;
        margin-right: 2.5rem;
        margin-top: 1.5rem;
        padding-bottom: 0.85rem;
        text-align: center;
        position: relative; }
        .section-1 .header-fixed .nav-header-fixed nav li a {
          text-decoration: none;
          color: #666666;
          font-weight: 600; }
          .section-1 .header-fixed .nav-header-fixed nav li a:hover::after {
            position: absolute;
            left: 0;
            right: 0;
            content: "";
            width: 50%;
            display: block;
            margin: auto;
            height: 2px;
            border-radius: 40px;
            background: #F1544A;
            margin-top: 0.5rem; }
        .section-1 .header-fixed .nav-header-fixed nav li a.active::after {
          position: absolute;
          left: 0;
          right: 0;
          content: "";
          width: 50%;
          display: block;
          margin: auto;
          height: 2px;
          border-radius: 40px;
          background: #F1544A;
          margin-top: 0.5rem; }
      .section-1 .header-fixed .nav-header-fixed nav li:nth-last-child(1) a {
        color: #F7F7F7; }
      .section-1 .header-fixed .nav-header-fixed nav li:nth-last-child(1) a.active::after {
        content: "";
        width: 0px; }
      .section-1 .header-fixed .nav-header-fixed nav li:nth-last-child(1) a:hover {
        color: #F1544A; }
        .section-1 .header-fixed .nav-header-fixed nav li:nth-last-child(1) a:hover::after {
          content: "";
          display: none; }
  .section-1 .nav-hero-section-movil {
    box-shadow: 0px 50px 50px -50px rgba(119, 119, 119, 0.35);
    display: flex;
    justify-content: space-between; }
    .section-1 .nav-hero-section-movil img {
      padding-left: 1.75rem; }
    .section-1 .nav-hero-section-movil li {
      list-style-type: none;
      margin-right: 2.5rem;
      margin-top: 1.5rem;
      padding-bottom: 0.85rem;
      text-align: center; }
      .section-1 .nav-hero-section-movil li a {
        text-decoration: none;
        color: #666666;
        font-weight: 600; }
        .section-1 .nav-hero-section-movil li a:hover::after {
          content: "";
          width: 50%;
          display: block;
          margin: auto;
          height: 2px;
          border-radius: 40px;
          background: #F1544A;
          margin-top: 0.5rem; }
      .section-1 .nav-hero-section-movil li a.active::after {
        content: "";
        width: 50%;
        display: block;
        margin: auto;
        height: 2px;
        border-radius: 40px;
        background: #F1544A;
        margin-top: 0.5rem; }
    .section-1 .nav-hero-section-movil li:nth-last-child(1) a {
      color: #F7F7F7; }
    .section-1 .nav-hero-section-movil li:nth-last-child(1) a:hover {
      color: #F1544A; }
      .section-1 .nav-hero-section-movil li:nth-last-child(1) a:hover::after {
        content: "";
        display: none; }
  .section-1 .logotipo img {
    padding: 1.25rem 1.75rem; }
  .section-1 .article-ilustration {
    background: url("../../assets/img/bg-section-1.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain; }
    .section-1 .article-ilustration header nav {
      display: flex;
      justify-content: flex-end; }
      .section-1 .article-ilustration header nav li {
        list-style-type: none;
        margin-right: 2.5rem;
        margin-top: 2rem; }
        .section-1 .article-ilustration header nav li a {
          text-decoration: none;
          color: #F7F7F7;
          font-weight: 600; }
          .section-1 .article-ilustration header nav li a:hover::after {
            content: "";
            width: 50%;
            display: block;
            margin: auto;
            height: 2px;
            border-radius: 40px;
            background: #F1544A;
            margin-top: 0.5rem; }
        .section-1 .article-ilustration header nav li a.active::after {
          content: "";
          width: 50%;
          display: block;
          margin: auto;
          height: 2px;
          border-radius: 40px;
          background: #F1544A;
          margin-top: 0.5rem; }
      .section-1 .article-ilustration header nav li:nth-last-child(1) a:hover::after {
        content: "";
        display: none; }
    .section-1 .article-ilustration .ilustration-1 img {
      margin-right: 3rem;
      float: right;
      margin-top: 6rem; }
  .section-1 .opacity-1 {
    transition: visibility 0.3s linear,opacity 0.3s linear;
    opacity: 1;
    z-index: 1; }

.section-2 {
  margin-bottom: 166px; }
  .section-2 h2 {
    margin-bottom: 7.5rem; }
  .section-2 .container-padding {
    padding-left: 1.75rem;
    padding-right: 1.75rem; }
  .section-2 .card-1 {
    box-shadow: 0px 55px 25px -35px rgba(119, 119, 119, 0.65);
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    height: 290px;
    text-align: center;
    background: #6670AF;
    border-radius: 16px;
    transition: all 0.2s ease-in-out; }
    .section-2 .card-1 img {
      margin-top: calc(-275px / 4);
      margin-bottom: 1.5rem; }
    .section-2 .card-1 h3 {
      margin-bottom: 1.25rem;
      font-weight: 700;
      font-size: 28px; }
    .section-2 .card-1 p {
      font-weight: 500; }
    .section-2 .card-1 h3, .section-2 .card-1 p {
      color: #F7F7F7; }
  .section-2 .card-1:hover {
    background: #414D9B;
    transform: translateY(-1rem);
    box-shadow: 0px 25px 25px rgba(119, 119, 119, 0.6); }

.section-3 h2 {
  margin-top: 7rem; }
.section-3 .burbuja-azul-izquierda {
  background: url("../../assets/img/burbuja-azul-izquierda.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 865px; }
  .section-3 .burbuja-azul-izquierda img {
    margin-top: -3rem; }

.section-4 {
  overflow-x: clip;
  margin-top: -4rem;
  margin-bottom: 166px; }
  .section-4 h2 {
    color: #F7F7F7;
    padding-top: 6.4rem; }
  .section-4 .content-section-4 .content-card:nth-child(1) img {
    bottom: 52px;
    left: -65px; }
  .section-4 .content-section-4 .content-card:nth-child(2) img {
    top: 52px;
    right: -65px; }
  .section-4 .content-section-4 .content-card {
    z-index: 0;
    position: relative; }
    .section-4 .content-section-4 .content-card img {
      position: absolute;
      z-index: -1; }
    .section-4 .content-section-4 .content-card .card-2 {
      background: #414D9B;
      border-radius: 16px;
      box-shadow: 0px 55px 25px -35px rgba(119, 119, 119, 0.65);
      max-width: 485px; }
      .section-4 .content-section-4 .content-card .card-2 h3 {
        font-weight: 400;
        font-size: 32px;
        color: #F7F7F7;
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
        border-bottom: 2px solid #6670AF; }
      .section-4 .content-section-4 .content-card .card-2 .precios {
        margin-top: 4rem; }
        .section-4 .content-section-4 .content-card .card-2 .precios p:nth-child(1) {
          font-weight: 700;
          font-size: 96px;
          color: #F7F7F7; }
          .section-4 .content-section-4 .content-card .card-2 .precios p:nth-child(1) span {
            font-weight: 500;
            font-size: 52px; }
        .section-4 .content-section-4 .content-card .card-2 .precios p:nth-child(2) {
          margin-top: 2.5rem;
          margin-bottom: 2.5rem;
          color: #F7F7F7;
          font-size: 38px;
          font-weight: 400;
          display: flex;
          justify-content: center;
          align-items: center; }
          .section-4 .content-section-4 .content-card .card-2 .precios p:nth-child(2) span {
            margin: 0rem 1rem 0rem 1rem;
            display: inline-block;
            height: 2px;
            width: 40px;
            background: #F7F7F7; }
      .section-4 .content-section-4 .content-card .card-2 p:nth-child(3) {
        color: #F7F7F7;
        font-weight: 500;
        font-size: 54px; }
  .section-4 .content-section-4 .lista-card-2 {
    width: max-content;
    margin: auto;
    margin-top: 3.5rem;
    padding-bottom: 1.75rem;
    color: #F7F7F7; }
    .section-4 .content-section-4 .lista-card-2 li {
      text-align: left;
      list-style-type: none;
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 0.5rem; }
      .section-4 .content-section-4 .lista-card-2 li span {
        margin-right: 1rem;
        color: #FEB623; }

.section-5 {
  overflow-x: clip; }
  .section-5 form .c-form input {
    background: transparent;
    border-radius: 40px;
    margin-bottom: 1.5rem;
    display: block;
    width: 100%;
    padding: 0.75rem;
    padding-left: 1.5rem;
    border: 1px solid #666666; }
  .section-5 form .c-form input:focus-visible {
    outline: -webkit-focus-ring-color auto 0px; }
  .section-5 form textarea {
    background: transparent;
    border-radius: 2rem;
    height: 145px;
    margin-bottom: 1.5rem;
    display: block;
    width: 100%;
    padding: 1rem;
    padding-left: 1.5rem;
    border: 1px solid #666666; }
  .section-5 form textarea:focus-visible {
    outline: -webkit-focus-ring-color auto 0px; }
  .section-5 form .c-button input.btnEnviar {
    width: auto; }
  .section-5 .burbuja-azul-derecha {
    background: url("../../assets/img/burbuja-azul-derecha.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 865px;
    background-position: right; }
    .section-5 .burbuja-azul-derecha img {
      margin-top: -4rem;
      float: right; }
  .section-5 .col-12.col-xl-5 {
    padding-left: 1.75rem; }

footer {
  margin-top: -4rem;
  position: relative; }
  footer .content-footer-1,
  footer .content-footer-2,
  footer .content-footer-3 {
    position: absolute; }
  footer .content-footer-1 {
    top: 0;
    left: 0;
    right: 0;
    margin-top: 4rem; }
    footer .content-footer-1 p {
      font-weight: 500;
      font-size: 18px;
      color: #F7F7F7; }
  footer .content-footer-2 {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: max-content;
    margin: auto; }
    footer .content-footer-2 .col-4 {
      padding-left: 1rem;
      padding-right: 1rem; }
    footer .content-footer-2 span {
      background: #414D9B;
      color: #F7F7F7;
      width: 5.5rem;
      height: 5.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      font-size: 48px;
      transition: all 0.2s ease-in-out; }
    footer .content-footer-2 span:hover {
      background: transparent;
      border: 6px solid #414D9B; }
  footer .content-footer-3 {
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #cccccc;
    margin-left: 1.75rem;
    margin-right: 1.75rem; }
    footer .content-footer-3 p {
      margin: 0;
      font-weight: 600;
      font-size: 20px;
      color: #F7F7F7; }

header.bg_contacto {
  background: url("../../assets/img/bg_header_contacto.svg");
  background-position: top center;
  padding-bottom: 10rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; }
  header.bg_contacto h1 {
    color: #F7F7F7; }
    header.bg_contacto h1 span {
      display: inline; }
  header.bg_contacto p {
    color: #F7F7F7; }

section.info_contacto .rrss-icons {
  margin-top: 37px;
  display: flex;
  justify-content: center; }
  section.info_contacto .rrss-icons span {
    background: #7D85BA;
    color: #F7F7F7;
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 60px;
    transition: all 0.2s ease-in-out;
    margin-right: 3rem; }
  section.info_contacto .rrss-icons span:nth-child(3) {
    margin-right: 0; }
  section.info_contacto .rrss-icons span:hover {
    background: #414D9B; }

section.back_to_home {
  margin-bottom: 53px; }

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 32px;
    margin-top: 2rem; }

  .container {
    padding: auto; }

  .container-padding {
    padding: auto; }

  .section-1 {
    margin-bottom: 4.5rem; }
    .section-1 .article-ilustration nav {
      flex-direction: column; }
      .section-1 .article-ilustration nav li {
        text-align: center; }

  .section-2 {
    margin-bottom: 0px; }
    .section-2 h2 {
      font-size: 28px;
      margin-bottom: 7rem; }
    .section-2 .card-1 {
      margin-bottom: 7rem; }
      .section-2 .card-1 h3 {
        font-size: 26px; }

  .section-3 {
    margin-bottom: 4.5rem; }
    .section-3 h2 {
      font-size: 28px;
      margin-top: 0rem; }

  .section-4 {
    background: url("../../assets/img/bg-nuestros-precios.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin-bottom: 4.5rem; }
    .section-4 h2 {
      font-size: 28px; }
    .section-4 .content-section-4 .card-2 {
      margin-bottom: 2rem; }
      .section-4 .content-section-4 .card-2 h3 {
        font-size: 24px; }
      .section-4 .content-section-4 .card-2 .precios {
        margin-top: 5rem; }
        .section-4 .content-section-4 .card-2 .precios p:nth-child(1) {
          font-size: 80px; }
          .section-4 .content-section-4 .card-2 .precios p:nth-child(1) span {
            font-size: 32px; }
        .section-4 .content-section-4 .card-2 .precios p:nth-child(2) {
          margin-top: 2.5rem;
          margin-bottom: 3rem;
          color: #F7F7F7;
          font-size: 38px; }
          .section-4 .content-section-4 .card-2 .precios p:nth-child(2) span {
            margin: 0rem 1rem 0rem 1rem;
            display: inline-block;
            height: 2px;
            width: 45px;
            background: #F7F7F7; }
        .section-4 .content-section-4 .card-2 .precios p:nth-child(3) {
          font-size: 52px; }
    .section-4 .content-section-4 .lista-card-2 {
      width: auto;
      margin: auto;
      margin-top: 3.5rem;
      padding-bottom: 1.75rem;
      color: #F7F7F7;
      padding-left: 1.75rem;
      padding-right: 1.75rem; }
      .section-4 .content-section-4 .lista-card-2 li {
        text-align: left;
        list-style-type: none;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 0.5rem; }
        .section-4 .content-section-4 .lista-card-2 li span {
          margin-right: 1rem;
          color: #FEB623; }

  .section-5 {
    margin-bottom: 9rem; }
    .section-5 .col-12.col-xl-5 {
      padding-left: calc(var(--bs-gutter-x) * .5); }
    .section-5 h2 {
      font-size: 28px; }
    .section-5 .col-12.col-md-8.col-xl-5 {
      margin: auto; }

  footer {
    background: url(../../assets/img/footer-bg.png);
    background-size: cover;
    height: 300px; }
    footer .bg-footer img {
      display: none; }
    footer .content-footer-2 span {
      width: 3.5rem;
      height: 3.5rem;
      font-size: 30px; }

  .section-1 .header-fixed .nav-header-fixed nav li:nth-last-child(1) a {
    max-width: 170px; }

  .section-1 .header-fixed .nav-header-fixed nav li,
  .section-1 .nav-hero-section-movil li {
    width: max-content;
    margin-left: auto;
    margin-right: auto; } }
@media screen and (min-width: 1401px) {
  h1 {
    font-size: 58px;
    margin-bottom: 3rem; }

  h2 {
    font-size: 58px; }

  p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 1.5rem; }

  .section-4 {
    margin-bottom: 249px; }

  footer .content-footer-1 {
    margin-top: 6rem; }

  header.bg_contacto {
    padding-bottom: 14rem; } }
@media only screen and (max-width: 991px) and (min-width: 576px) {
  .content-section-4 .lista-card-2 {
    width: max-content !important; } }
@media screen and (min-width: 1201px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0; } }
@media screen and (max-width: 576px) {
  .rrss-icons {
    flex-direction: column;
    align-items: center; }

  section.info_contacto .rrss-icons span {
    margin-right: 0;
    margin-bottom: 1.5rem; } }

/*# sourceMappingURL=estilos.css.map */
