@font-face {
  font-family: poppins;
  src: url('../fonts/poppins/poppins-light.ttf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: poppins;
  src: url('../fonts/poppins/poppins-regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: poppins;
  src: url('../fonts/poppins/poppins-medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: poppins;
  src: url('../fonts/poppins/poppins-semibold.ttf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: poppins;
  src: url('../fonts/poppins/poppins-bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}